* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    animation: anim 12s linear infinite alternate;
}

@keyframes anim{
    0%{
        background: url("bg1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    33%{
        background: url("bg2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    66%{
        background: url("bg3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        background: url("bg4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.clock {
    width: 70vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.svg);
    background-size: contain;
    opacity: 0.8;
    border: 0.5vh solid #091921;
    border-radius: 50%;
}
.clock::before {
    content: '';
    position: absolute;
    width: 4vh;
    height: 4vh;
    background: black;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 22vh;
    height: 30vh;
}

.clock .min,
.mn {
    width: 27vh;
    height: 40vh;
}

.clock .sec,
.sc {
    width: 33vh;
    height: 55vh;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 1.5vh;
    height: 14vh;
    background: #53051e;
    z-index: 10;
    border-radius: 0.7vh;
}

.mn::before {
    content: '';
    position: absolute;
    width: 0.8vh;
    height: 20vh;
    background: #777777;
    z-index: 11;
    border-radius: 0.8vh;
}

.sc::before {
    content: '';
    position: absolute;
    width: 0.5vh;
    height: 27vh;
    background: #0b5384;
    z-index: 12;
    border-radius: 0.8vh;
}
